<form action="/signup" method="post">
    <label>Name</label>
    <input name="name" placeholder="enter user name" type="text"/>
    <label>Email</label>
    <input name="email" placeholder="enter email" type="text" />
    <label>Password</label>
    <input name="password" placeholder="password" type="password" />
    <button type="submit">signup</button>
</form>